# Data
data_lake/bronze/velib/**/
data_lake/reports/**/
*.parquet

# DB
.pgdata/

# Jupyter
.ipynb_checkpoints

# Env
.env

# Python
__pycache__/
*.pyc

# airflow
airflow/logs/**/

#dbt
dbt/velib_dbt/target/
dbt/velib_dbt/dbt_packages/
dbt/velib_dbt/logs/
dbt/velib_dbt/dbt_internal_packages/

#venv
.venv/