AIRFLOW_FERNET_KEY=8ZzMhpQXqKl9N7J3xYvW5jT2bC4nF6mR1sK0dG8wE5o=
POSTGRES_USER=velib
POSTGRES_PASSWORD=velib
POSTGRES_DB=velib_dw
JUPYTER_TOKEN=velibexplo
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin